<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="${pageContext.request.contextPath}/css/login_styles.css">
</head>
<body>
	<nav class="navbar navbar-light" style="background-color: #FF5733;">
		<div class="container-fluid">
			<a class="navbar-brand mx-4 h1" style="color: #FFF;" href="ListarMascotasController">Volver a Mis Mascotas </a>
			<a class="btn logout_btn" href="LogoutController" role="button">Cerrar sesion</a>
		</div>
		
	</nav>
</body>
</html>